:root {
    --primary-font: 'Roboto', sans-serif;
    --accent-color: #34547A;
    --black-color: #000000;
    --bg-section-color: #EEEFF1;
    --bg-section-color-two: #E5E5E5;
    --bg-overlay: rgb(52, 84, 122, 0.8);
    --text-color: #727272;
    --placeholder-color: #5F5D5D;
    --white-color: #FFFFFF;
}