.header {
    display: flex;
    padding-top: 57px;
    padding-right: 752px;
    padding-left: 402px;
    background: var(--bg-section-color);
}

.header-logo {
    margin-right: 398px;
}

.header-nav {
    padding: 6px 0;
}

.header-nav__list {
    display: flex;
}

.header-nav__item:not(:last-child) {
    margin-right: 42px;
}

.header-nav__text {
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    letter-spacing: 1.6px;
    color: var(--black-color);
}
